.pageup {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 60px;
    font-size: 50px;
    color: $secondColor;
    @media (max-width:$md3) {
        display: none !important;
    }
}