// Миксины ===========================================================================
@import 'mixins';

// Шрифты ============================================================================
@import 'fonts';

// Animations ============================================================================
@import 'animations';
@import 'animate';

// Шрифты ============================================================================
$fontFamilyMS: 'MuseoSansCyrl', sans-serif;
$fontFamilyMM: 'MuseoModerno';
$fontSize: '16';

// Иконочные шрифты ==================================================================
@import 'icons';

// Переменные ========================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 942px + 30px;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$mainColor: #0D0D0D;
$secondColor: #C70101;

// Обнуление, общие параметры ========================================================
@import 'null';
*:last-child {
    margin-bottom: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: $mainColor;
    font-family: $fontFamilyMS;
    font-size: $fontSize;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: $secondColor;
    border-radius: 5px;
    transition: all 0.5s ease;
        &:hover {
            color: $secondColor;
            background-color: #FFFFFF;
        }
    &_border {
        &:hover {
            border: 1px solid $secondColor;
        }
    }
}

.title {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #0D0D0D;
    text-transform: uppercase;
    @media (max-width:$md3) {
        font-size: 26px;
    }
    @media (max-width:$md4) {
        font-size: 24px;
    }
}

// Основная сетка ====================================================================
._container {
    max-width: $maxWidthContainer;
    padding: 0px 15px;
    margin: 0 auto;
}

// Sections ==========================================================================
@import 'header';
@import 'promo';
@import 'advantage';
@import 'consultation';
@import 'slider';
@import 'catalog';
@import 'reviews';
@import 'footer';
@import 'modal';
@import 'pageup';